html, body {
    font-family: "Source Sans Pro", serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cantata One", sans-serif;
}

a, a:hover {
    color: #69491c;
}

.green {
    color: #bcc82a;
}

header, #about {
    height: 100%!important;
}

#services .first-line .card {
    min-height: 242px;
}

#team .card {
    min-height: 426px;
}

footer {
    background-color: #1c2331;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    #about {
        margin-top: 150px;
    }

    .logo {
        width: 300px;
        position: absolute;
        top: 10%;
        left:0;
        right:0;
        margin: 0 auto;
    }

    .display-4 {
        font-size: 2.5rem;
    }
}

@media (max-width: 320px) and (orientation: portrait) {
    h1.display-4 {
        width: 276px;
        font-size: 1.5rem;
    }

    h6 {
        font-size: .8rem;
    }

    .logo {
        width: 250px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 768px) {
    h1.display-4 {
        width: 276px;
        font-size: 3rem;
    }

    .logo {
        width: 200px;
        position: absolute;
        top: 31%;
        right:15%;
    }
}

@media (min-width: 683px) and (max-width: 992px) {
    h1.display-4 {
        width: 276px;
        font-size: 2.5rem;
        text-align: left;
    }

    .logo {
        width: 200px;
        position: absolute;
        top: 30%;
        right: 15%;
    }
}

@media (min-width: 658px) and (max-width: 992px) {
    #services .first-line .card {
        min-height: 266px;
    }

    #team .card {
        min-height: 477px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .pt-lg-5 {
        padding: 0;
    }
    .logo {
        margin-top: 71px;
    }
}


