header {
    text-align: center;
    margin-top: 2rem;
}

#logo {
    max-width: 50%;
    min-width: 150px;
}

body {
    width: 50%;
    margin: auto;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 2rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    html {
        font-size: 250%;
    }

    body {
        width: 70%;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body {
        width: 70%;
    }
}
