@font-face {
  font-family: 'Cantata One';
  font-style: normal;
  font-weight: 400;
  src: local('Cantata One'), local('CantataOne-Regular'), url(https://fonts.gstatic.com/s/cantataone/v6/Ur66QXTDfN1RjqAm41DRZZ0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMw1o1eFRj7wYC6JbISqOjY.ttf) format('truetype');
}
html, body {
    font-family: "Source Sans Pro", serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cantata One", sans-serif;
}

a, a:hover {
    color: #69491c;
}

.green {
    color: #bcc82a;
}

header, #about {
    height: 100%!important;
}

#services .first-line .card {
    min-height: 242px;
}

#team .card {
    min-height: 426px;
}

#incentive {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.95);
    z-index: 2;
    cursor: pointer;
    padding-top: 10%;
}

#incentive p {
    font-size: 1.5em;
}

#incentive a {
    font-weight: bold;
}

footer {
    background-color: #1c2331;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 576px)  {
    h1.display-4 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: .8rem;
    }

    .logo {
        width: 50%;
        margin: 0 auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    header, .h-100 {
        padding-bottom: 3rem;
    }

    #about .row {
        position: relative;
    }

    h1.display-4 {
        font-size: 2rem;
    }

    .logo {
        position: absolute;
        right: 0;
        width: 300px;
        z-index: -10;
    }

    #team .card {
        min-height: 476px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .pt-lg-5 {
        padding: 0;
    }

    .logo {
        margin-top: 71px;
    }
}

@media (min-width: 1200px) {
    h1.display-4 {
        width: 276px;
        font-size: 2.5rem;
        text-align: left;
    }

    #services .first-line .card {
        min-height: 266px;
    }

    #team .card {
        min-height: 477px;
    }
}

@media (min-width: 500px) and (max-width: 811px) and (orientation: landscape) {
    .logo {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 811px) and (orientation: landscape) {
    h1.display-4 {
        font-size: 2.5rem;
    }
}

@media (min-width: 812px) and (max-width: 1023px) and (orientation: landscape) {
    #about .row {
        margin-top: 7rem !important;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    #about .row {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}

